//color
$bg-header-color: #80CBC4;
$white-color: #fff;
$form-color: #e6e6e6;
$form-header-color : #78788c;
$name-color : #5a5a5a;
$border-bottom : #bebed2 ;
$normal-font:2rem;
$grid-width : 114rem;
$gutter-vertical: 9rem;
$gutter-horizental: 1rem;

@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}
* { 
    margin : 0;
    padding: 0;

}
html{
    font-size: 10px;
}

body{
    font-family: "Montserrat", sans-serif;
}
.header{
   
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: $bg-header-color;
    color: $white-color;

    &__text{
        font-weight: 100;
        letter-spacing: 2rem;
        text-transform: uppercase;
        font-size: 5rem;
        text-align: center;
       
    }
}
.form {
    width: 440px;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    background:linear-gradient(#FFC400,#FF9100);
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);

    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    position: relative;
    text-align: center;
   
    &__finder{
        margin: 1px;
        animation-fill-mode:forwards;
        font-size: 5rem;
        text-align: center;
        color:$white-color;
        animation-name: finder-move;
        animation-duration: 3s;

        
    }

    &__input-name{
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        border: 0;
        font-weight: 200;
        outline: none;
        resize: none;
        background: none;
        box-sizing: border-box;
        font-size: 2rem;
        text-align: center;
        color:$white-color;
        transition: all 0.3s;
        border-bottom: 2px solid $border-bottom;
     

    }
    &__input-name:focus{
        border-bottom: 2px solid #F4FF81;
    }

  }

p::before{
    content: attr(type);
    display: block;
    font-weight: 400;
    margin: 20px 0 0;
    font-size: 20px;
    color: $name-color;
}

.copyright{
    box-sizing: border-box;
    padding: 2rem;
    border:3px solid $border-bottom;
    text-align: center;
    font-size: $normal-font;
    border-radius: 5px;
    bottom: 0;
}

@keyframes finder-move{
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    30%{
        opacity: 0.3;
        transform: translateX(4rem);
       
    }
    55%{
        opacity: 0.5;
        transform: translateX(-5rem);
    }
    65%{
        opacity: 0.7;
        transform: translate(0);
       
    }
    100%{
        opacity: 1;
        border-bottom: 2px solid $border-bottom;
    }
}section{
    width: 100%;
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px 0;
  }
  .card{
    position: relative;
    max-width: 300px;
    height: auto;
    background: linear-gradient(-15deg,#448AFF,#4DB6AC);
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
            box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
  -webkit-transition: .5s;
  transition: .5s;
  &:hover{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
  z-index: 1;
  -webkit-transform: skewY(-5deg) scale(1.5);
          transform: skewY(-5deg) scale(1.5);
  }
}

  .title__fa{
    color:#fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius:  50%;
    text-align: center;
    line-height: 100px;
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.1) ;
            box-shadow: 0 10px 10px rgba(0,0,0,.1) ;
  
  }
  .title h2 {
    position: relative;
    margin: 20px  0 0;
    padding: 0;
    color: #fff;
    font-size: 28px;
   z-index: 2;
  }
  .price,.option{
    position: relative;
    z-index: 2;
  }
  .price h4 {
  margin: 0;
  padding: 20px 0 ;
  color: #fff;
  font-size: 4rem;
  }
  .option ul {
    margin: 0;
    padding: 0;
  
  }
  .option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
  }
  .card a {
    position: relative;
    z-index: 2;
    background: #fff;
    color : black;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    display: block;
    text-align: center;
    margin: 20px auto 0 ;
    font-size: 16px;
    cursor: pointer;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
            box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  
  }
  .card a:hover{
      text-decoration: none;
  }
  

img{
    max-width: 300px;
    height: 300px;
    border: 3px solid #64b5f6;
    box-shadow: #727172;
}
.footer {
    margin-top: 4rem;
	bottom:0;
	left:0;
	position: fixed;
    width: 100%;
    height: 2em;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    z-index:999;

    &:hover {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        height: 20rem;
    }

    &__button{
        width:35px;
        height:35px;
        border: #727172 12px solid;
        border-radius:35px;
        margin:0 auto;
        position:relative;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }
    &__button:hover{
        width:55px;
        height:55px;
        border: #3A3A3A 12px solid;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        position:relative;
    }

    &__container{
        margin-top:5px;
        width:100%;
        height:100%;
        position:relative;
        top:0;
        left:0;
        background: #3A3A3A;
    }

    &__cont{
        position:relative;
        top:-45px;
        right:190px;
        width:150px;
        height:auto;
        margin:0 auto;
      }
    &__center{
        width:500px;
        float:left;
        text-align:center;
    }
    &__text{
        color: $white-color;
        font-size: 30px;
        font-weight: 100;
        margin-top:70px;
        margin-left:40px;
    }
     
}

